@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sidebar-link {
  @apply flex gap-2 p-2 items-center hover:scale-105 hover:bg-red-400 hover:rounded-xl transition-all;
}

.btn{
    @apply p-2 bg-red-400 text-slate-100 rounded-lg mt-4
}